<div class="fullwidth-block information-section">
    <div class="container">
        <h2 class="section-title">Information</h2>
        <div class="row">
            <div class="col-md-4">
                <figure><img src="<%=information.image%>" ></figure>
            </div>
            <div class="col-md-4">
                <p><%=information.text1%></p>
            </div>
            <div class="col-md-4">
                <p><%=information.text2%></p>
            </div>
        </div>
    </div>
</div> <!-- .fullwidth-block.information-section -->