<div class="fullwidth-block team-section">
    <div class="container">
        <h2 class="section-title">Founder</h2>
        <div class="row": style="width:65%;float:right;">
            <div class="col-md-6">
                <div class="team">
                    <figure class="team-image"><img src="dummy/person-1.jpg"></figure>
                    <h3 class="team-name">Nitu</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nihil distinctio natus doloremque id tempore repellendus atque</p>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>          
        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .fullwidth-block.team-section -->
